
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  padding: 20px;
  height: 100%;
  font-size: 17px;
  font-family: "Noto+Sans, sans-serif;
 

}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  
  
}
header {
  width: 100%;
  color: #fff; /* цвет текста */
}

.header__top {
  padding: 30px;
  background-color: rgb(44, 42, 42); /* цвет заливки блока */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.header__info {
  display: block;
}
.header__top input {
  min-width: 250px;
  width: 100%;
}
.info__phone a {
  color: orange;
}
.menu {
  width: 100%;
}
.menu ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
 
}
.menu ul li {
  margin-left: 15px;
}
.menu ul li:first-child{
  margin-left: 0;
  
}

.menu ul li a {
  text-decoration: none;
  color: orange;
  display: block;
  transition: 0.3s ease-in all;
  border: 10px black;
}
.menu ul li a:hover {
  color:red;
  transform: scale(1.1);
}
 /* btn*/
 .btn{
   border: 1px solid black;
   background-color:gray;
   color: black;
   padding: 10px 20px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   min-width: 175px;
   font-size: 14px;

 }
 .btn-darc{
   background-color:black;
   color:#fff;
 }


/* main */
.main {
  display: flex;
}
.main__left {
  width: 30%;
  padding: 15px;
}
.main__right {
  width: 70%;
  padding: 15px;
}
/* sidebar */
.sidebar {
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  
}
.sidebar__list {
  list-style: none;
    
}
.sidebar__list ul{
  width: 150px; /* Ширина меню */
    list-style: none;
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 15px; /* Размер названий в пункте меню */
}
.sidebar__list li ul{
  position: static; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-right: 120px; /* Сдвигаем подменю вправо */
    margin-right: -2em; /* Сдвигаем подменю в право */
}
.sidebar__list li a{
     display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color:black; /* Цвет текста */
    border: none;/* Рамка вокруг пунктов меню */
    background-color: none;/* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
}
.sidebar__list li a:hover{
  color:#fff; /* Цвет текста активного пункта */
  background-color:black;/* Цвет фона активного пункта */
}
.sidebar__list li:hover ul{
  display: block; /* При выделении пункта курсором мыши отображается подменю */
   }
   

.sidebar__list li {
  padding: 5px 15px;
  list-style-type: none;
  }
  .sidebar ul li a{
    text-decoration: none;
    color:black;
  }
/* info */
.info {
  margin-top: 30px;
  display: flex;
  padding: 20px;
  border: 1px solid black;
  background-color:#fff;
  color:black;
  font-size: 18px;
  border-radius: 15px;
}


.info:hover {
 background-color: black;
  color:#fff;
}
.info__icon {
  width: 20%;
}
.info__text {
  width: 80%;
}
.info__text-title {
  font-size: 20px;
  font-weight: 700;
}
.info__text-description {
  font-weight: 400;
}
.slider{
  border: 1px solid black;
  min-height: 200px;
}
.main__right-title{
   text-align: center;
   margin-top: 30px;

}


.card-list{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.card{
  border: 2px solid grey;
  padding: 15px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  position: relative;

}

.card_img{
  width: 160px;
  height:160px;
  background-color:black;
}
.card_title{
  font-size: 18px;
  line-height:20px ;
}
.card_prise{
  font-size: 16px;
  line-height:18px;
}
.card_btn{
  width:100%;
  display: flex;
  flex-direction: column;
  height: 80px;
  position: absolute;
  box-sizing: 0;
  left: 0;
  bottom:0;
 
  
}
.card_btn div{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_btn div:nth-child(1){
  background-color: black;
  color:#fff;
 
}
.card_btn div:nth-child(2){
  background-color: grey;
}

/* product*/



.product_info{
  display: flex;
}
.product_description{
  font-size:  22px;
  line-height: 25px;
  padding: 15px;
}
.product_description-info{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;

}
.product_description-prise{
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
  }

 .product_description-sail {
   display: flex;
   flex-direction: column;
   margin-top: 15px;
   font-weight:600 ;
   font-size: 15px;
   line-height: 18px;
 }

.product_description-cards{
  display: flex;
  margin-top: 15px;
}
.product_description-cards div{
  border: 1px solid grey;
  margin-right: 15px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;


}
.product_description-cards .visa{
  color: orange;
}
.product_description-cards .master{
  color:red
}


.product_description-cartBtn{
  margin-top: 15px;
  display: flex;
}
.product_description-cartBtn .count{
  display:flex;
  flex-direction: column;
  margin-left: 15px;
}
.product_description-cartBtn .count input{ 
  max-width: 95px;
  }


.product_description-btn{
  margin-top: 15px;
}









.product_slider {
  width: 50%
}
.product_slider-prewiew{
  border: 1px solid black;
  max-width: -600px;
  min-height: 280px;
}
.product_slider-list{
  display: flex;
  justify-content:space-between;
  margin-top: 10px; 
  overflow-x: auto;
  width: 100;
}

/* slider */
.slider-item{
  border: 1px solid black;
  width:60px;
  height: 41px;
}
.product_review-btn .btn{
  background-color:#fff;
  
}


.product__review-content table{
  border: 1px solid black;
  width: 740px;
  height:120px;
  border-collapse:collapse;
  align-items:left;
  
 
  
}
.tab-item-active thead th{
  border: 1px solid black;
  background-color:#fff;
  width: 300px;
  align-items:left;
 
  

}
.tab-item-active tbody th{
  border: 1px solid black;
  align-items:left;
  height: 30px;

}
.main__right-product{
  text-align: center;
   margin-top: 100px;
   margin-bottom: 60px;
}
.main__right-title{
  text-align: left;
}

.sorting{
  text-align: left;
  display: flex;
 
  
}

  
/*Page 5*/
.main_page{
  display: flex;
  flex-direction: column;
  margin-left:540px; 
  margin-top: 35px;
  margin-bottom: 50px;
  
 
  
}



.circle ul li{
  
  margin-right: 50px;
  padding-left: 30px;


}
/*Page 4*/

  


.main__contacts-title{
  text-align: left;
  margin: 30px;
}



.contacts_info{
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 1450px;
  height: 100px;
  margin: 15px;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;

}
.main__contacts-title{
  display: flex;
  flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contacts_map{
  border: 1px solid grey;
  width: 1450px;
  height: 400px;
  margin: 15px;
  text-align: center;
}
.write_info{

  display: flex;
  flex-direction: column;
  margin: 15px 0px 50px 0px;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  
}
.write {
  
  padding: 5px;
  border-bottom-width: 1px solid black;
 }

.write_info{
  margin-left: 50px;
 
}
.write_us input{
  margin-right: 30px;

}
.button_2 button{
  margin-top: -30px;
  margin-bottom: 50px;
  margin-left: 50px;




}










footer {/* заголовок футера (айфоносервис)*/
  width: 100%;
  color: #fff; /* цвет текста */
  margin-bottom: 20px;
}
.wrapper2 {/*шапка футера*/
  max-width: 1200px;
  margin: 0 auto;
}
.footer-top {
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}


.footer__top .text2{
  display:flex;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.info__phone2 a {
  color: orange;
  display:flex;
  margin-top: 15px;
  
}


.menu2 ul{
  list-style: none;
  display: flex;
  
  margin: 0;
  padding: 0;
 
}
.menu2 ul li {
  margin-left: 35px; 
  margin-top: 15px;
}

  


.menu2 ul li a {
  color:#fff;
  text-decoration: none;

}