
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  padding: 20px;
  height: 100%;
  font-size: 17px;
  font-family: "Noto+Sans, sans-serif;
 

}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  color: #fff;
}

header .top {
  background-color: rgb(44, 42, 42);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  border-radius: 15px;
}


header .info {
  display: block;
}
.info__phone a {
  color: orange;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: content;
}

.menu ul li {
  margin-left: 15px;
}

.menu ul li:first-child {
  margin-left: 0;
}

.menu ul li a {
  text-decoration: none;
  color: orange;
  
  display: block;
  transition: 0.3s ease-in all;

}

.menu ul li a:hover {
  color: red;
  transform: scale(1.1);
}



 .block2  {
  list-style-type: none;
  display: flex;
    background: white;
    width:250px;
    padding: 20px;
    border: 1px solid grey;
    margin: 20px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    border-radius: 15px;
    text-decoration: none;
    


}
.block2 ul li a{
  display: block;
  color: black;
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
  .block2 ul li a:hover{
    color:#fff;
    background:black;
  }
.block3 {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  border: grey;
  margin: 20px;
  width: 250px;
  background: white;
  color:black;
  align-items: flex-start;
  border-radius: 15px;
}
  .block3 :hover{
    color:#fff;
    background:black;
  }

.block4 {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  border: grey;
  margin: 20px;
  width: 250px;
  background: #fff;
  color:black;
  align-items: flex-start;
  border-radius: 15px;
}
.block5 {
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  border: grey;
  margin: 20px;
  width: 250px;
  background: #fff;
  color:black;
  align-items: flex-start;
  border-radius: 15px;


}




